

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500;600&display=swap');
.App {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
}
.header{
  position: absolute;
  width: 100%;
  height: 64px;
  background: #EEF2FF;
}
.logo{
  position: absolute;
  width: 121px;
  height: 36px;
  margin-left: 32px;
  margin-top: 14px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  color: #495057;
}
.title{
  position: absolute;
  width: 291px;
  height: 30px;
  margin-left: 565px;
  margin-top: 17px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: #495057;
}
.list{
  width: 129px;
  padding-left: 32px;
  padding-top: 93.5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: justify; 
  color: #495057;
}
.body{
  position: absolute;
  width: 100%;
  height: 450px;
}
.headerbody{
  width: 100%;
  margin-top: 64px;
  padding-top: 10px;
  height: 64px;
}
.headerbody .row{
  display: flex;
  justify-content: space-between;
}
.footer{
  position: absolute;
  width: 100%;
  height: 60px;
  margin-top: 684px;
  background: #E9ECEF;
}
.copy-right{
  width: 212px;
  height: 18px;
  margin-left: 565px;
  padding-top: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #495057;
}
